// Branding
$primary-color: #5752DA;
$lightgray-background: #F1F6FF;
$green-background: #57E190;

// Buttons
$button-primary: #5752DA;
$button-primary-hover: #706CE0;
$button-secondary: #57E190;
$button-secondary-hover: #7DE8A9;

// Text
$text-darkgray: #16162A;
$text-secondary: #333333;
$text-purple: #5752DA;