.box-page {
    display: flex;
    padding: 12px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #F1F6FF;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(../images/q-logo-dark-bg.svg);

    img {
        max-width: 100%;
    }

    .box {
        padding: 32px 24px;
        width: 100%;
        max-width: 635px;
        background: #FFF;
        border-radius: 16px;
        border: 1px solid #F1F6FF;
        box-shadow: 12px 21px 44px rgba(32, 6, 86, 0.1);

        .logo-row {
            margin-bottom: 48px;
            text-align: center;

            img {
                margin: 0 auto;
                display: block;
                max-width: 150px;
            }
        }

        .title-row {
            margin-bottom: 48px;
            text-align: center;

            h1 {
                font-size: 24px;
                line-height: 1em;
                // font-size: 32px;
                margin-bottom: 0;
                // line-height: 48px;
                letter-spacing: -0.01em;
                @include font-semibold;
            }

            p {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        .option-row {
            margin-bottom: 24px;
        }

        button.btn {
            width: 100%;
            margin-top: 24px;
        }

        .google-signup {
            padding: 15px;
            display: block;
            margin-top: 16px;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 32px;
            background: #FFFFFF;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);

            img {
                margin: 0 auto;
                display: block;
                max-width: 220px;
            }
        }

        .login-row {

            p {
                font-size: 14px;
                margin-bottom: 0;
                line-height: 18px;
                text-align: center;

                a {
                    color: $text-purple;
                    @include font-semibold;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .form-group .form-label {
            color: $text-darkgray;
        }

        .form-text {

            a {
                color: $text-purple;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .otp-form-control {

            input.form-control {
                max-width: 67px;
                text-align: center;
                @include font-semibold;

                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }
    }

    @media (min-width: $bp-xl) {
        padding: 48px 0;

        .box {
            padding: 40px 55px;

            .logo-row {
                margin-bottom: 32px;

                img {
                    max-width: 200px;
                }
            }

            .title-row {
                margin-bottom: 32px;

                h1 {
                    font-size: 32px;
                    line-height: 48px;
                }

                p {
                    margin-top: 16px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .option-row {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .login-row {

                p {
                    font-size: 20px;
                    line-height: 24px;

                    a {
                        padding-left: 16px;
                    }
                }
            }

            .form-text {

                a {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}