.problem-statement {

    .card {
        padding: 24px;
        text-align: center;
        border-radius: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(220, 226, 238, 0.71);
        transition: box-shadow 0.3s ease-in-out;

        .card-body {
            padding: 0;
        }

        img {
            display: block;
            margin: 0 auto 14px;
        }

        h2 {
            font-size: 20px;
            line-height: 24px;
            @include font-semibold;
            letter-spacing: -0.01em;
            margin-bottom: 24px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0 4px 0 0 #2F76FC;
        }
    }

    .row > .col {

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @media(min-width: $bp-md) {

        .row > .col:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    @media(min-width: $bp-lg) {
        .row > .col {
            margin-bottom: 0 !important;
        }

        .card {
            margin-bottom: 0;
        }
    }

    @media(min-width: $bp-xl) {
        padding-top: 230px;

        .card {
            margin-bottom: 0;
        }
    }
}